.main {
  padding: 1% !important;
  margin: auto;
}

.logo,
.title,
.logout,
.login {
  text-align: center;
  align-self: center;
  padding: 1%;
}

h1 {
  font-family: "arial black";
}

.login,
.logout,
.recipes {
  font-family: "lucida console";
}

.content {
  background-color: #ddaf94;
  padding: 1% !important;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}
